button,
input {
  font-size: inherit;
}
.card {
  background: rgb(14, 21, 12);
  color: white;
  box-shadow: 0 1px 2px #555454;
  width: 300px;
  min-height: 250px;
  padding: 4rem 1.5rem 2rem 1.5rem;
  margin: 2rem;
  border-radius: 0.5rem;
  line-height: 1.8;
  position: relative;
  /* font-weight: bold; */
}
.favorite {
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
}
.price {
  color: yellow;
}
.price input {
  width: 4rem;
}
.wishList,
button {
  margin: 0.8rem;
  padding: 0.5rem;
  background: green;
  font-size: inherit;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}
.bookcard-buttons{
  border-top: 1px solid grey;
  width:100%;
}